<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>全部论文</title>
  <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
</head>
<body>
<table>
  <tr>
    <th colspan="10">论文列表</th>
  </tr>
  <tr>
    <th>流水号</th>
    <th>标题</th>
    <th>概要</th>
    <th>类型</th>
    <th>专业</th>
    <th>页数</th>
    <th>成绩</th>
    <th>作者</th>
    <th>指导老师</th>
    <th><a th:href="@{/to/add}">添加</a> </th>
  </tr>
  <tr th:each="paper,status:${pages.list}">
    <td th:text="${status.count}"></td>
    <td th:text="${paper.title}"></td>
    <td th:text="${paper.Abstract}"></td>
    <td th:text="${paper.paperTypes.typeDescription}"></td>
    <td th:text="${paper.majors.majorName}"></td>
    <td th:text="${paper.pages}"></td>
    <td th:text="${paper.score}"></td>
    <td th:text="${paper.author}"></td>
    <td th:text="${paper.advisors.advisorName}"></td>
    <td >
      <a href="">修改</a>
      <a href="">删除</a>
    </td>
  </tr>

</table>

<div style="text-align: center;">
  <a th:if="${pages.hasPreviousPage}" th:href="@{/paper/pages/1}">首页</a>
  <a th:if="${pages.hasPreviousPage}" th:href="@{'/paper/pages/'+${pages.prePage}}">上一页</a>
  <span th:each="num:${pages.navigatepageNums}">
    <a th:if="${pages.pageNum==num}" style="color: #FF4400" th:text="${num}" th:href="@{'/employee/pages/'+${num}}"></a>
    <a th:if="${pages.pageNum!=num}" th:text="${num}" th:href="@{'/paper/pages/'+${num}}"></a>

  </span>

  <a th:if="${pages.hasNextPage}" th:href="@{'/paper/pages/'+${pages.nextPage}}">下一页</a>
  <a th:if="${pages.hasNextPage}" th:href="@{'/paper/pages/'+${pages.pages}}">尾页</a>

</div>
</body>
</html>