<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改论文信息</title>
    <link rel="stylesheet" href="/css/index_work.css">
</head>
<body>
<form th:action="@{/paper}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="paperID" th:value="${paper.paperID}">
    <table>
        <tr>
            <th colspan="2">添加用户</th>
        </tr>
        <tr>
            <td>标题</td>
            <td><input type="text" name="title" th:value="${paper.title}"></td>
        </tr>
        <tr>
            <td>概览</td>
            <td><input type="text" name="Abstract" th:value="${paper.Abstract}"></td>
        </tr>
        <tr>
            <td>页数</td>
            <td><input type="text" name="pages" th:value="${paper.pages}"></td>
        </tr>
        <tr>
            <td>成绩</td>
            <td><input type="text" name="score" th:value="${paper.score}"></td>
        </tr>
        <tr>
            <td>作者</td>
            <td><input type="text" name="author" th:value="${paper.author}"></td>
        </tr>
        <tr>
            <td>类型</td>
            <td><input type="text" name="typeID" th:value="${paper.type}"></td>
        </tr>
        <tr>
            <td>专业</td>
            <td><input type="text" name="majorID" th:value="${paper.major}"></td>
        </tr>
        <tr>
            <td>导师</td>
            <td><input type="text" name="advisorID" th:value="${paper.advisor}"></td>
        </tr>
        <tr>
            <td>论文文件</td>
            <td><input type="file" name="file"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="提交"></td>
        </tr>



    </table>

</form>

</body>
</html>