<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>论文</title>
    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
</head>
<body>
<div id="app">

    <table>
        <tr>
            <th colspan="8">论文列表</th>
        </tr>
        <tr>
            <th>流水号</th>
            <th>标题</th>
            <th>概要</th>
            <th>页数</th>
            <th>成绩</th>
            <th>作者</th>
            <th>下载次数</th>
            <th><a th:href="@{/papers/add}">添加</a> </th>
        </tr>
        <tr th:each="paper,status:${papers}">
            <td th:text="${status.count}" ></td>
            <td  ><a th:text="${paper.title}" th:href="@{'/read/'+${paper.paperID}}"></a></td>
            <td th:text="${paper.Abstract}"></td>
            <td th:text="${paper.pages}"></td>
            <td th:text="${paper.score}"></td>
            <td th:text="${paper.author}"></td>
            <td th:text="${paper.downloadTime}"></td>
            <td >
                <a th:href="@{'/paper/'+${paper.paperID}}" >修改</a>
                <a @click="deletePaper" th:href="@{'/paper/'+${paper.paperID}}">删除</a>
                <a th:href="@{'/download/'+${paper.paperID}}">下载</a>
            </td>
        </tr>

    </table>
    <form method="post">
        <input type="hidden" name="_method" value="delete">
    </form>
</div>

<script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
<script type="text/javascript">
    var vue=new Vue({
        el:"#app",
        methods:{
//event表示当前事件
            deletePaper:function (event) {
//通过id获取表单标签
                var form = document.getElementsByTagName("form")[0];
//将触发事件的超链接的href属性为表单的action属性赋值
                form.action = event.target.href;
//提交表单
                form.submit();
//阻止超链接的默认跳转行为
                event.preventDefault();
            }

        }
    })
</script>


</body>
</html>